<%= styled_flash %>

<ul>
  <% @links.each do |link| %>
    <li><a href="<%= link.url %>">
      <%= link.title %>
    </a>
    </li>
  <% end %>
</ul>

<form action='/url' method=post>
  <input type='text' name='new_url'>
  <input type='text' name='title'>
  <input type='submit' value='Submit'>
</form>
