<%= styled_flash %>

<ul>
  <% @links.each do |key, value| %>
    <li><%= key %></li>
  <% end %>
</ul>

<form action='/url' method=post>
  <input type='text' name='new_url'>
  <input type='submit' value='Submit'>
</form>
